<div>
   
    <div
      class="min-h-screen h-100vh flex grow bg-slate-50 "
    >
        <div class="hidden w-full  place-items-center lg:grid">
            <div class="w-full max-w-lg p-6">
            <img
                class="w-full"
                src="assets/images/vote.png"
                alt="image"
            />
            </div>
        </div>
        <main
            class="flex w-full flex-col items-center bg-white  lg:max-w-md"
        >
            <div class="flex w-full max-w-lg grow flex-col justify-center p-5">
            <div class="text-center">
                <img
                class="mx-auto h-28 w-22"
                src="assets/images/senegal.png"
                alt="logo"
                />
                <div class="mt-4">
                <h2
                    class="text-2xl font-semibold text-slate-600 dark:text-navy-100"
                >
                   Authentification agent
                </h2>
                <p class="text-slate-400 dark:text-navy-300 mt-4">
                    Renseigner vos identifiants 
                </p>
                </div>
            </div>
            <form 
                [formGroup]="userForm"
                (ngSubmit)="onSubmit()"
                class="mt-16"
            >
                <label class="relative flex">
                <input
                    formControlName="email"
                    class="border w-full rounded-lg bg-slate-150 px-3 py-2 pl-9 ring-primary/50 placeholder:text-slate-400 hover:bg-slate-200 focus:ring"
                    placeholder="Username"
                    required
                    type="text"
                />
                <span
                    class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent"
                >
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 transition-colors duration-200"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                    />
                    </svg>
                </span>
                </label>
                <label class="relative mt-4 flex">
                    <input
                        formControlName="password"
                        class="border w-full rounded-lg bg-slate-150 px-3 py-2 pl-9 ring-primary/50 placeholder:text-slate-400 hover:bg-slate-200 focus:ring"
                        placeholder="Password"
                        required
                        type="text"
                />
                <span
                    class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-400 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent"
                >
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 transition-colors duration-200"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
                    />
                    </svg>
                </span>
                </label>
                <div class="mt-4 flex items-center justify-between space-x-2">
                <label class="inline-flex items-center space-x-2">
                    <input
                    class="form-checkbox is-outline h-5 w-5 rounded border-slate-400/70 bg-slate-100 before:bg-primary checked:border-primary hover:border-primary focus:border-primary dark:border-navy-500 dark:bg-navy-900 dark:before:bg-accent dark:checked:border-accent dark:hover:border-accent dark:focus:border-accent"
                    type="checkbox"
                    />
                    <span class="line-clamp-1">Se souvenir de moi </span>
                </label>
                <a
                    href="#"
                    class="text-xs text-slate-400 transition-colors line-clamp-1 hover:text-slate-800 focus:text-slate-800 dark:text-navy-300 dark:hover:text-navy-100 dark:focus:text-navy-100"
                    >Mot de passe oublié ?</a
                >
                </div>
                <button
                class="mt-10 h-10 w-full font-medium text-white hover:bg-primary-focus bg-[#4338ca] rounded  focus:bg-primary-focus dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90 cursor-pointer"
                >
                Se connecter
                </button>
            </form>
            
            </div>
        </main>
    </div>  
</div>


  